{% layout 'layout.liquid' %} {% block content %}

<div class="container">
  <h2 class="page-header">Bank Account</h2>
  <a href="/notes"
    ><button type="button" class="btn btn-primary btn-md">Notes</button></a
  >
  <a href="/user/logout"
    ><button type="button" class="btn btn-danger btn-md">Log out</button></a
  >

  <table class="table table-bordered border-primary table-striped">
    <thead>
        <tr>
          <th scope="col" colspan="2">Date</th>
          <th scope="col">Debit</th>
          <th scope="col">Credit</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
    <tbody>
  {% for transaction in bankAcc %}
      <tr>
        <td colspan="2">
            <a href="/bankacc/{{ transaction.id }}">{{transaction.transDate | date: "%a %b %d %y"}}</a>
            
        </td>
        {% if transaction.transAmmount > 0 %}
        <td>{{transaction.transAmount}}</td>
        <td></td>
        {% else %}
        <td></td>
        <td>{{transaction.transAmount}}</td>
        {% endif %}
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/bankacc/new"><button  type="button" class="btn btn-warning btn-md">New Transaction</button></a>
</div>

{% endblock %}
