{% layout 'layout.liquid' %} 
{% block content %}

<div class="container">
    <h2 class="page-header">Bank Account</h2>
   <a href="/notes"><button type="button" class="btn btn-primary btn-lg">Notes</button></a>
   <a href="/user/logout"><button type="button" class="btn btn-primary btn-lg">Log out</button></a>
</div>

{% endblock %}