{% layout 'layout.liquid' %} 
{% block content %}

<div class="container">
    <h2 class="page-header">Transactions in the date</h2>
   <a href="/bankacc"><button type="button" class="btn btn-primary btn-lg">Bank Account</button></a>
   <a href="/user/logout"><button type="button" class="btn btn-primary btn-lg">Log out</button></a>
   <form action="/bankacc/{{ transaction._id }}?_method=DELETE" method="POST">
    <input type="submit" class="btn btn-danger" value="delete" />
  </form>
</div>

{% endblock %}