{% layout 'layout.liquid' %} 
{% block content %}

<div class="container">
    <h2 class="page-header">Financial Bookeeping App</h2>
   <a href="/user/signup"><button type="button" class="btn btn-primary btn-lg">Signup</button></a>
   <a href="/user/login"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
</div>

{% endblock %}