{% layout 'layout.liquid' %} {% block content %}

<div class="container">
    <h2 class="page-header">Welcome to Financial Bookeeping App, A place you can comment on each of your own bank account transaction</h2>
   <a href="/user/signup"><button>Signup</button></a>
   <a href="/user/login"><button>Login</button></a>
</div>

{% endblock %}