.page-header {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  font-family: 'nothing-you-could-do', sans-serif;
}

#login {
    color: #801515;
}

#signup {
    color: blanchedalmond;
    background-color: rgb(15, 15, 15);
}

table, #bankAccShow, textarea{
    margin-top: 20px;
}

table, #bankAccShow, #showDate, .form-floating, #textIndex, .dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}

.transDate {
    text-align: center;
    color: tomato;
    background-color: black;
}

.transDatePositive {
    text-align: center;
    color: black;
    background-color: tomato;
}

.btn-warning {
    margin-bottom: 10px;
}

#notesBtn {
    background-color: coral;
}

#textIndex {
    background-color: #cb9898;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: mistyrose;
    background-color: black;
}

#cardNote {
    margin: 0 auto;
}