.page-header {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  font-family: 'nothing-you-could-do', sans-serif;
}

#login {
    color: #801515;
}

#signup {
    color: blanchedalmond;
    background-color: rgb(15, 15, 15);
}

table, #bankAccShow {
    margin-top: 20px;
}