{% layout 'layout.liquid' %} 
{% block content %}

<div class="container">
    <h2 class="page-header">Personalised Transactions Notes</h2>
   <a href="/bankacc"><button type="button" class="btn btn-primary btn-md">Bank Account</button></a>
   <a href="/user/logout"><button type="button" class="btn btn-danger btn-md">Log out</button></a>
   <table class="table table-bordered border-primary table-striped">
    <thead>
      <tr>
        <th scope="col" colspan="2">Date</th>
        <th scope="col">Debit</th>
        <th scope="col">Credit</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
      <tbody>

      </tbody>
</div>

{% endblock %}