{% layout 'layout.liquid' %} 
{% block content %}

<div class="container">
    <h2 class="page-header">Create Personalised Transactions Notes</h2>
   <a href="/bankacc"><button type="button" class="btn btn-primary btn-md">Bank Account</button></a>
   <a href="/user/logout"><button type="button" class="btn btn-primary btn-md">Log out</button></a>
</div>

{% endblock %}